"" set number relativenumber
" for acejump you have to install the plugin from an external repository (install plugins -> browse repositories -> acejump)
map <LEADER>w :action AceWordAction<CR>
" map <LEADER>F :action AceTargetAction<CR>

map <C-SPACE> :action RecentFiles<CR>
map <C-O> :action Back<CR>
map <C-I> :action Forward<CR>

map <SPACE>j :action VimMotionNextTab<CR>
map <SPACE>k :action VimMotionPreviousTab<CR>

" opens this file. source ~/vimrc/.ideavimrc to reload changes"
map <LEADER>h :e ~/vimrc/.ideavimrc<CR>
map <LEADER>o :action OptimizeImports<CR>
map <LEADER>u :action FindUsages<CR>
" git annotate
map <LEADER>g :action Annotate<CR>
map <LEADER>c :action Compile<CR>
map <LEADER>C :action CompileProject<CR>
map <LEADER>d :action ToggleDistractionFreeMode<CR>

" for easier split navigation you can use SPACE+hjkl now
nnoremap <SPACE>  <C-w>

" this seems to be the list of actions
" https://gist.github.com/zchee/9c78f91cc5ad771c1f5d
" or :actionlist
"
"
" allow 20 rows at the edge of the buffer when scrolling
set so=10

" highlight searches
set hlsearch

" ignore case when searching 
set ignorecase
